<!DOCTYPE html>
<html>
<title>ABC News</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <div class="header">
        <h1>ABC News</h1>
        <p>Up to date news from ABC News</p>
        <button (click)="fetchAbc()">View Articles</button>
    </div>

    <div class="w3-content">

        <div class="w3-row w3-margin">

            <div class="w3-third">
                <!-- <img src="https://www.investopedia.com/thmb/yvwGsKs6nSHBiOoa9cnoX5uHCPY=/735x0/GettyImages-964033964-ca3290057ccc4024b57e755423572264.jpg" style="width:100%;min-height:200px"> -->
            </div>
            <div *ngFor="let event of events$ | async">
                <div class="w3-twothird w3-container">
                    <div class="w3-third">
                    </div>
                    <h2>{{event.title}}</h2>

                    <button><a href="{{event.url}}">Article Link</a></button>
                </div>
            </div>
        </div>
    </div>